body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfbe3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005500;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.navbar .title {
    font-size: 20px;
}

.navbar .logout {
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border: 3px solid white;
    background-color: #005500;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .logout:hover {
    background-color: white;
    color: #005500;
}


.content {
    text-align: center;
    margin: 40px 20px;
}

.content h1 {
    color: #005500;
    font-size: 24px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.box {
    width: 150px;
    height: 100px;
    border: 3px solid #005500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #005500;
    background-color: #fdfbe3;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #e0f7df;
}