body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfbe3; 
    color: #333; 
}

.content {
    text-align: center;
    margin: 40px 20px;
}

.content h1 {
    color: #15491a; 
    font-size: 28px;
    margin-bottom: 20px;
}

.content .formulario .tipo-calidad{
    visibility: hidden;
}

.search-container {
    max-width: 450px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 30px auto;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-box label {
    font-size: 20px;
    color: #15491a;
    font-weight: bold;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.search-box input[type="text"]:focus {
    border-color: #15491a;
    box-shadow: 0 0 5px rgba(21, 73, 26, 0.3);
    outline: none;
}

.search-box button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #15491a; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.search-box button:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: white;
    padding: 25px 68px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #15491a; 
    font-size: 22px;
    text-align: center;
    padding: 0px 73px;
}

.campo {
    margin-right: 0;
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.campo input {
    width: 100%;
    padding: 10px 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.campo input[readonly] {
    background-color: #f9f9f9;
    color: #888;
    cursor: not-allowed;
    border: 1px solid #ddd;
}

.campo input:focus {
    border-color: #15491a;
    box-shadow: 0 0 5px rgba(21, 73, 26, 0.3);
    outline: none;
}

.boton {
    background-color: #15491a; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}

.boton:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}

.boton:active {
    background-color: #388E3C; 
    transform: scale(1);
}

.boton:disabled {
    background-color: #DAD7CD;
    color: #15491A;
    cursor:not-allowed;
}

.alert{
    margin: 0 auto;
    background-color: white;
    max-width: 450px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
