body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

p {
    font-weight: bold;
    max-width: 450px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.listaHectareas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.itemHectarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.itemHectarea:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #f3f3f3;
}

.itemHectarea strong {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #15491a;
}

.botonVerInfo {
    display: inline-block;
    margin-top: 10px;
    background-color: #15491a;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.botonVerInfo:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.contenedor_inputs {
    padding-top: 30px;
    width: 450px;
    margin: 20px auto;
    background-color: white; /* Fondo ligero */
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Relleno alrededor de los elementos */
}

.inputs {
    font-size: 18px; /* Tamaño de fuente ligeramente más pequeño */
    display: flex;
    flex-direction: column; /* Alineación en columna */
    gap: 15px; /* Espacio entre los elementos */
}

.inputs label {
    display: flex;
    align-items: center; /* Alineación vertical de los radio buttons y el texto */
    gap: 5px; /* Espacio entre el radio button y el texto */
    cursor: pointer; /* Cambiar el cursor a mano al pasar por encima */
}

.inputs input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espacio extra entre el radio button y la etiqueta */
}

.inputs label:hover {
    color: #007bff; /* Cambio de color al pasar el ratón sobre la etiqueta */
}

.inputs input[type="radio"]:checked {
    accent-color: #007bff; /* Cambiar color del radio button cuando está seleccionado */
}